In [110]:
import pandas as pd
import numpy as np

### Data Gathering and Filtering

In [111]:
movies_data = pd.read_csv('https://query.data.world/s/uikepcpffyo2nhig52xxeevdialfl7')

In [112]:
movies_data.head()

,Unnamed: 0,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,...,tomatoConsensus,tomatoUserMeter,tomatoUserRating,tomatoUserReviews,tomatoURL,DVD,BoxOffice,Production,Website,Response
0,1,The Shawshank Redemption,1994,R,14 Oct 1994,142 min,"Crime, Drama",Frank Darabont,"Stephen King (short story ""Rita Hayworth and S...","Tim Robbins, Morgan Freeman, Bob Gunton, Willi...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/shawshank_rede...,27 Jan 1998,NaN,Columbia Pictures,NaN,True
1,2,The Godfather,1972,R,24 Mar 1972,175 min,"Crime, Drama",Francis Ford Coppola,"Mario Puzo (screenplay), Francis Ford Coppola ...","Marlon Brando, Al Pacino, James Caan, Richard ...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/godfather/,09 Oct 2001,NaN,Paramount Pictures,http://www.thegodfather.com,True
2,3,The Godfather: Part II,1974,R,20 Dec 1974,202 min,"Crime, Drama",Francis Ford Coppola,"Francis Ford Coppola (screenplay), Mario Puzo ...","Al Pacino, Robert Duvall, Diane Keaton, Robert...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/godfather_part...,24 May 2005,NaN,Paramount Pictures,http://www.thegodfather.com/,True
3,4,The Dark Knight,2008,PG-13,18 Jul 2008,152 min,"Action, Crime, Drama",Christopher Nolan,"Jonathan Nolan (screenplay), Christopher Nolan...","Christian Bale, Heath Ledger, Aaron Eckhart, M...",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/the_dark_knight/,09 Dec 2008,"$533,316,061",Warner Bros. Pictures/Legendary,http://thedarkknight.warnerbros.com/,True
4,5,12 Angry Men,1957,APPROVED,01 Apr 1957,96 min,"Crime, Drama",Sidney Lumet,"Reginald Rose (story), Reginald Rose (screenplay)","Martin Balsam, John Fiedler, Lee J. Cobb, E.G....",...,NaN,NaN,NaN,NaN,http://www.rottentomatoes.com/m/1000013-12_ang...,06 Mar 2001,NaN,Criterion Collection,http://www.criterion.com/films/27871-12-angry-men,True

In [113]:
movies_data.columns

Index(['Unnamed: 0', 'Title', 'Year', 'Rated', 'Released', 'Runtime', 'Genre',
       'Director', 'Writer', 'Actors', 'Plot', 'Language', 'Country', 'Awards',
       'Poster', 'Ratings.Source', 'Ratings.Value', 'Metascore', 'imdbRating',
       'imdbVotes', 'imdbID', 'Type', 'tomatoMeter', 'tomatoImage',
       'tomatoRating', 'tomatoReviews', 'tomatoFresh', 'tomatoRotten',
       'tomatoConsensus', 'tomatoUserMeter', 'tomatoUserRating',
       'tomatoUserReviews', 'tomatoURL', 'DVD', 'BoxOffice', 'Production',
       'Website', 'Response'],
      dtype='object')

In [114]:
movies_data = movies_data[['Title','Genre','Director','Actors','Plot']]

In [131]:
movies_data.head()

                                                                                       bags_of_words
Title
The Shawshank Redemption                           Crime, Drama FrankDarabont TimRobbins,MorganFr...
The Godfather                                      Crime, Drama FrancisFordCoppola MarlonBrando,A...
The Godfather: Part II                             Crime, Drama FrancisFordCoppola AlPacino,Rober...
The Dark Knight                                    Action, Crime, Drama ChristopherNolan Christia...
12 Angry Men                                       Crime, Drama SidneyLumet MartinBalsam,JohnFied...
Schindler's List                                   Biography, Drama, History StevenSpielberg Liam...
The Lord of the Rings: The Return of the King      Adventure, Drama, Fantasy PeterJackson NoelApp...
Pulp Fiction                                       Crime, Drama QuentinTarantino TimRoth,AmandaPl...
Fight Club                                         Drama DavidFincher EdwardNorton,BradPitt,MeatL...
The Lord of the Rings: The Fellowship of the Ring  Adventure, Drama, Fantasy PeterJackson AlanHow...

In [116]:
movies_data.Director = movies_data.Director.str.replace(' ','')
movies_data.Actors = movies_data.Actors.str.replace(' ','')

In [117]:
movies_data.tail()

,Title,Genre,Director,Actors,Plot
245,The Lost Weekend,"Drama, Film-Noir",BillyWilder,"RayMilland,JaneWyman,PhillipTerry,HowardDaSilva",The desperate life of a chronic alcoholic is f...
246,Short Term 12,Drama,DestinDanielCretton,"BrieLarson,JohnGallagherJr.,StephanieBeatriz,R...",A 20-something supervising staff member of a r...
247,His Girl Friday,"Comedy, Drama, Romance",HowardHawks,"CaryGrant,RosalindRussell,RalphBellamy,GeneLoc...",A newspaper editor uses every trick in the boo...
248,The Straight Story,"Biography, Drama",DavidLynch,"SissySpacek,JaneGallowayHeitz,JosephA.Carpente...",An old man makes a long journey by lawn-mover ...
249,Slumdog Millionaire,Drama,"DannyBoyle,LoveleenTandan","DevPatel,SaurabhShukla,AnilKapoor,RajZutshi",A Mumbai teen reflects on his upbringing in th...

In [118]:
movies_data['bags_of_words'] = movies_data['Genre']+' '+movies_data['Director']+' '+movies_data['Actors']+' '+movies_data['Plot']

In [119]:
movies_data.drop(['Genre','Director','Actors','Plot'], axis=1,inplace=True)

In [120]:
movies_data.set_index('Title',inplace=True)

In [121]:
movies_data.head()

                                                              bags_of_words
Title
The Shawshank Redemption  Crime, Drama FrankDarabont TimRobbins,MorganFr...
The Godfather             Crime, Drama FrancisFordCoppola MarlonBrando,A...
The Godfather: Part II    Crime, Drama FrancisFordCoppola AlPacino,Rober...
The Dark Knight           Action, Crime, Drama ChristopherNolan Christia...
12 Angry Men              Crime, Drama SidneyLumet MartinBalsam,JohnFied...

### Now the Data is ready to apply NLP to it.

In [122]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [123]:
count = CountVectorizer()

In [124]:
count_matrix = count.fit_transform(movies_data['bags_of_words'])

In [125]:
cosine_sim = cosine_similarity(count_matrix,count_matrix)

### Creating the Recomendation Model

In [126]:
def movie_recomender(title, cosine_sim = cosine_sim):
    recomended_movies = []
    indices = pd.Series(movies_data.index)
    idx = indices[indices == title].index[0]
    recomend = pd.Series(cosine_sim[idx]).sort_values(ascending = False)
    recomend = recomend[1:11]
    top_10_index = recomend.index
    for i in top_10_index:
        recomended_movies.append(list(movies_data.index)[i])
    return recomended_movies

In [127]:
# Because you have watched:
movie_recomender(title='Slumdog Millionaire')

['The Dark Knight',
 "The King's Speech",
 'There Will Be Blood',
 'The Dark Knight Rises',
 'Gandhi',
 'Kind Hearts and Coronets',
 'Rio Bravo',
 'The Help',
 'Trainspotting',
 'Gone Girl']

#### IMDB Movie recomender

In [128]:
def imdb_movie_recomender():
    print('Welcome to IMDB Movie Recomender')
    print('Enter the latest top 250 IMDB Movies you have watched recently')
    movie_watched = input()
    because_you_have_watched = movie_recomender(movie_watched)
    print('\nBecause you have watched:', movie_watched)
    print('\nMovies You can watch:\n\n',because_you_have_watched)

In [132]:
imdb_movie_recomender()

Welcome to IMDB Movie Recomender
Enter the latest top 250 IMDB Movies you have watched recently
12 Angry Men

Because you have watched: 12 Angry Men

Movies You can watch:

 ['The Godfather', 'On the Waterfront', 'The Wolf of Wall Street', 'The Bridge on the River Kwai', 'The Dark Knight', 'Into the Wild', 'Kind Hearts and Coronets', 'Fargo', 'Citizen Kane', 'Rope']